# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm / IDE
.idea/
*.iml

# Build and dist
build/
dist/
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# Testing cache
.pytest_cache/
.coverage